<div class="forgotpassword-outer">
  <div class="container my-5 p-3 mb-5 rounded" style="max-width: 400px;">
    <div class="card">
      <div id="forgotPasswordCardHeader" class="card-header text-center">
        Forgot Password
      </div>
      <div class="card-body">
        <div>
          <table class="table" aria-describedby="forgotpasswordFormInputLayoutTable">
						<tbody>
							<tr>
								<div>
									<div class="form-floating">
										<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
										<label for="floatingInput">Email address</label>
                    <div id="emailHelp" class="form-text">A mail will be sent to the provided email with further instructions to reset the password.</div>
									</div>
								</div>
							</tr>
							<th>
								<div class="text-center">
									<button mat-raised-button color="primary" [hidden]="false">Submit</button>
								</div>
							</th>
							<tr>
								<div>
									<button mat-button color="primary" routerLink="/login"><i class="fa fa-arrow-left"></i> Back</button>
								</div>
							</tr>
						</tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
