<div class="login-outer">
  <div id="login_outer_container" class="container my-5 p-3 mb-5 rounded">
    <div class="card">
      <div class="card-header text-center text-bg-secondary">
        Log In
      </div>
      <div class="card-body">
        <div>
          <table class="table" aria-describedby="loginFormInputLayoutTable">
            <thead>
              <tr>
                <div id="signup_indicator" class="text-center">
                  Don't have an account? <button mat-button color="warn" routerLink="/signup">Sign Up</button>
                </div>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div id="login_form">
                  <form [formGroup]="login_form" class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" name="email" formControlName="Email" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                    <div id="emailErrorIndicator" class="form-text text-danger" *ngIf="Email?.touched && Email?.invalid">* Email address is invalid</div>
                    <div id="emailInstructionIndicator" class="form-text text-secondary" *ngIf="Email?.untouched && !Email?.valid">Enter a valid Email address</div>
                    <div id="emailValidIndicator" class="form-text text-success" *ngIf="Email?.valid">{{'\u2714'}} Email is valid</div>
                  </form>


                  <div class="input-group">
                    <form [formGroup]="login_form" class="form-floating">
                      <input type="{{password_visible? 'text': 'password'}}" class="form-control" id="floatingPassword" name="Password" formControlName="Password" placeholder="Password" />
                      <label for="floatingPassword">Password</label>
                    </form>
                    <span type="button" (click)="toggle_password_visibility()" class="input-group-text">
                      <mat-icon>{{password_visibility_switch_icon}}</mat-icon>
                    </span>
                  </div>
                  <div id="passwordErrorIndicator" class="form-text text-danger" *ngIf="Password?.touched && Password?.invalid">* Password is invalid</div>
                  <div id="passwordInstructionIndicator" class="form-text text-secondary" *ngIf="Password?.untouched">Enter your Password</div>
                  <div id="passwordValidIndicator" class="form-text text-secondary" *ngIf="Password?.valid">{{'\u2714'}} Password is valid</div>
                </div>
              </tr>
              <th>
                <form [formGroup]="login_form" (ngSubmit)="login_form_submit()" id="login_form_submitter" class="text-center">
                  <button mat-raised-button color="primary" type="submit">Submit</button>
                </form>
              </th>
              <tr>
                <div id="forgot_password_indicator" class="text-center">
                  <button mat-button color="primary" routerLink="/forgot_password"><u>Forgot Password?</u></button>
                </div>
              </tr>
              <tr>
                <hr />
              </tr>
              <tr>
                <div class="text-center">
                  or log in with
                </div>
              </tr>
              <tr>
                <div class="text-center">
                  <button mat-icon-button color="warn" title="Google"><i class="fa fa-brands fa-google"></i></button>
                  <button mat-icon-button color="primary" title="Facebook/Meta"><i class="fa fa-brands fa-facebook"></i></button>
                  <button mat-icon-button title="GitHub"><i class="fa fa-brands fa-github"></i></button>
                  <button mat-icon-button color="primary" title="LinkedIn"><i class="fa fa-brands fa-linkedin"></i></button>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
