<div class="signup-outer">
  <div class="container my-5 p-3 mb-5 rounded" style="max-width: 400px;">
    <div class="card">
      <div class="card-header text-center">
        Sign Up
      </div>
      <div class="card-body">
        <div>
          <table class="table" aria-describedby="signupFormInputLayoutTable">
            <thead>
              <tr>
                <div class="text-center">
                  Already have an account? <button mat-button color="warn" routerLink="/login">Log in</button>
                </div>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                </div>
              </tr>
              <th>
                <div class="text-center">
                  <button mat-raised-button color="primary">Submit</button>
                </div>
              </th>
              <tr>
                <hr/>
              </tr>
              <tr>
                <div class="text-center">
                  or sign up with
                </div>
              </tr>
              <tr>
                <div class="text-center">
                  <button mat-icon-button><i class="fa fa-brands fa-google"></i></button>
                  <button mat-icon-button><i class="fa fa-brands fa-facebook"></i></button>
                  <button mat-icon-button><i class="fa fa-brands fa-github"></i></button>
                  <button mat-icon-button><i class="fa fa-brands fa-linkedin"></i></button>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
